
<div class="container sm px-md-5">
    <div class="row align-items-center my-5">
      <!-- Information column -->
      <div class="col-12 col-lg-6 order-2 order-lg-1">
        <h1>Hi, I’m Tlou 👋</h1>
        <p>I'm a Junior Developer specializing in Angular and C#,and focusing on building custom applications using the SharePoint Framework and Power Apps. With four years of experience, I’m passionate about creating scalable, efficient, and user-friendly solutions that enhance productivity and collaboration. Every project still excites me like it's my first, and I’m always eager to learn and push the boundaries of what’s possible. 🚀</p>
        
        <div class="locations">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"/></svg>  Johannesburg, South Africa   
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M480-480Zm0 280q-116 0-198-82t-82-198q0-116 82-198t198-82q116 0 198 82t82 198q0 116-82 198t-198 82Zm0-80q83 0 141.5-58.5T680-480q0-83-58.5-141.5T480-680q-83 0-141.5 58.5T280-480q0 83 58.5 141.5T480-280Z"/></svg>Available for new projects
        </div>
        <div class="social-icons">
          <i class="bi bi-github"></i>
          <i class="bi bi-linkedin"></i>
        </div>
      </div>
      
      <!-- Image column -->
      <div class="col-12 col-lg-6 order-1 order-lg-2">
        <img src="profile.png" alt="Responsive Image" class="img-fluid rounded float-start">
      </div>
    </div>
  </div>